 <% @properties.each do |property| %>
    <div class="col-md-4">
        <%= link_to(thumbnail (property), property_path(property)) %>
        <h3><%= property.name %></h3>
        <p><%= property.address %></p>
    </div>
  <% end %>